.container{
    width: 100%;
    background-color: darkolivegreen;
    display: flex;
    flex-wrap: wrap;
}
.item{
    height: 300px;
    width: 300px;
    background-color: darkorange;
    margin: 10px;
}